.list-title{
  font-family: 'Dancing Script', cursive;
  color: #4e4637;
}

.createBtn{
  background-color: #ffd8b2;
  color: #2e4630;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 25px;
  font-size: 1.2rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Dancing Script', cursive;
}

.createBtn:hover{
  background-color: #fff9c4;
  box-shadow: 0 0 12px #fff9c499;
}